<div class="container">
  <div class="row ">
    <div class="col-4 col-sm" style="min-width: 200px; max-width: 250px;">
      <h2 class="text-center">Registro</h2>
      <hr>
      <div class="form-floating border border-5">
        <input type="text" class="form-control">
        <label for="floatingInputGrid">Codigo del Servicio</label>
      </div>
      <div class="form-floating border border-5">
        <input type="text" class="form-control">
        <label for="floatingInputGrid">Nombre</label>
      </div>
      <div class="form-floating border border-5">
        <input type="text" class="form-control">
        <label for="floatingInputGrid">Precio</label>
      </div>
      <div class="form-floating border border-5">
        <input type="text" class="form-control">
        <label for="floatingInputGrid">Duracion</label>
      </div>
      <div class="form-floating border border-5">
        <textarea class="form-control" id="floatingTextarea2" style="height: 120px;"></textarea>
        <label for="floatingInputGrid">Descripcion</label>
      </div>
      <br>
      <div class="row justify-content-center">
        <div class="col-6">
            <button type="button" class="btn btn-outline-danger btn-sm position-absolute top-0 end-0">Cancelar</button>
        </div>
        <div class="col col-md">
            <button type="button" class="btn btn-outline-success btn-sm ">Guardar</button>
        </div>
      </div>
    </div>

    <div class="col-8 col-sm">
      <div class="row">
        <div class="col-12">
          <h2 class="text-center">Servicios</h2>
          <hr>
        </div>
      </div>


      <div class="row">
        <div class="col-12">
          <label for="filter"><b>Filtro</b></label>
          <br>
          <input id="filter" type="text" class="formcontrol" placeholder="Codigo">
        </div>
      </div>


      <div class="row">
        <div class="col-12">
          <table class="table">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">Cod</th>
                <th scope="col">Nombre</th>
                <th scope="col">Precio</th>
                <th scope="col">Duracion</th>
                <th scope="col">Descripcion</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th></th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </div>
</div>