<div>
  <h2 class="text-center p-3 mb-2 bg-primary text-white shadow-lg p-3 mb-5 bg-body rounded rounded-3 " style="background-color:#0099ff;;">
  Registrar Agenda
  </h2>
</div>
<div class="container">
  <div class=" row justify-content-center">
    <div class="row align-items-center">
      <div class="" >
        <div class="row">
            <div class=" col-5">
              <form action="" [formGroup]="formGroup">
              <div class="form-floating date-size">
                  <input type="datetime-local" class="form-control" [ngClass]="{ 'is-invalid':  control.fechaInicio.errors && formGroup.get('fechaInicio').touched}"
                  name="fechaInicio" formControlName="fechaInicio">
                <label for="floatingInputGrid">Fecha de Inicio</label>
              </div>
            </form>
            </div>
            <div class="col-5">
              <form action="" [formGroup]="formGroup">
                <div class="form-floating date-size date-finally">
                  <input type="datetime-local" class="form-control"  [ngClass]="{ 'is-invalid':  control.fechaFinal.errors && formGroup.get('fechaFinal').touched}"
                  name="fechaFinal" formControlName="fechaFinal" >
                  <label for="floatingInputGrid">Fecha de Inicio</label>
                </div>
              </form>
            </div>
            <div class="col-2">
              <button mat-raised-button class="positi-button-1 btn btn-outline-primary" (click)="onSubmit()"  
              [disabled]="formGroup.invalid">Registrar</button>
            </div>
        </div>
        <br>
        <br>
        <mat-divider></mat-divider>     
        <div >
          <mat-form-field appearance="standard">
            <mat-label>Filter</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
          </mat-form-field>      
          <table mat-table [dataSource]="agendaMedico"  class="mat-elevation-z8 demo-table">
      
            <ng-container matColumnDef="codAgenda">
              <th mat-header-cell *matHeaderCellDef>Codigo Agenda.</th>
              <td mat-cell *matCellDef="let element">{{element.codAgenda}}</td>
            </ng-container>
          
      
            <ng-container matColumnDef="estado">
              <th mat-header-cell *matHeaderCellDef>Estado</th>
              <td mat-cell *matCellDef="let element">{{element.estado}}</td>
            </ng-container>
          
      
            <ng-container matColumnDef="fechaFinal">
              <th mat-header-cell *matHeaderCellDef>Fecha Final</th>
              <td mat-cell *matCellDef="let element">{{element.fechaHoraFin}}</td>
            </ng-container>
          
      
            <ng-container matColumnDef="fechaInicio">
              <th mat-header-cell *matHeaderCellDef>Fecha Inicio</th>
              <td mat-cell *matCellDef="let element">{{element.fechaHoraInicio}}</td>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr
                mat-row
                (click)="clickedRows.add(row)"
                [class.demo-row-is-clicked]="clickedRows.has(row)"
                *matRowDef="let row; columns: displayedColumns;"
            ></tr>
          </table>
          
        </div>
    </div>
    
   
    
  </div>

</div>
<mat-paginator [pageSizeOptions]="[3, 6]"
    showFirstLastButtons 
    aria-label="Select page of periodic elements">
    </mat-paginator>
</div>