<!--<div class="container" style="width: 700px;">
  <div class="row" style="height: 500px;">
    <div class="col-8 col-sm">
      <div class="row">
        <div class="col-12">
          <h5 class="text-center">Agenda Medica</h5>
          <hr>
        </div>
      </div>
      <div class="row justify-content-right">
        <div class="col-10">
          <label for="filter">Filtro: <input onChange="get()" [(ngModel)]="searchText" type="text"
              class="formcontrol"></label>
        </div>
        <div class="col align-self-end">
          <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal"
            data-bs-target="#ModalRegistrarAgenda">Agregar</button>
        </div>
      </div>
      <div class="row">
        <div class="col-md">
          <div class="column">
            <div class="table-container">
              <table class="table table-light table-hover" *ngIf='agendasMedicas && agendasMedicas.length'>
                <thead class="text-primary">
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Hora de inicio</th>
                    <th scope="col">Hora de finalizacion</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let a of agendasMedicas; index as i ">
                    <th scope="row">{{i + 1}}</th>
                    <td>{{a.estado}}</td>
                    <td>{{a.fechaHoraInicio}}</td>
                    <td>{{a.fechaHoraFin}}</td>
                  </tr>
                </tbody>
              </table>
              <div class="d-flex justify-content-right p-2">
                <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize"
                  (pageChange)="get()">
                </ngb-pagination>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="ModalRegistrarAgenda" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-center" id="staticBackdropLabel">Registrar Fecha</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-floating border border-5">
              <input type="text" class="form-control" name="estado" 
                [(ngModel)]="agendaMedico.estado">
              <label for="floatingInputGrid">Estado</label>
            </div>
            <div class="form-floating border border-5">
              <input type="datetime-local" class="form-control" name="fechaHoraInicio" 
                [(ngModel)]="agendaMedico.fechaHoraInicio">
              <label for="floatingInputGrid">Fecha Inicio</label>
            </div>
            <div class="form-floating border border-5">
              <input type="datetime-local" class="form-control" name="fechaHoraFin" 
                [(ngModel)]="agendaMedico.fechaHoraFin">
              <label for="floatingInputGrid">Fecha de Finalizacion</label>
            </div>
            <br>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-danger btn-sm" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-outline-success btn-sm" (click)="add()">Guardar</button>
        </div>
      </div>
    </div>
  </div>
-->