<header class=" text-dark">
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3">
    <div class="container p-3 mb-2 text-dark">
      
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
        aria-label="Toggle navigation" [attr.aria-expanded]="isExpanded" (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end" [ngClass]="{ show: isExpanded }">

       
        <ul class="navbar-nav flex-grow">
          <li class="nav-item" [routerLinkActive]="['link-active']" [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link text-dark " [routerLink]="['/home']">Home</a>
          </li>

          <li class="nav-item dropdown" [routerLinkActive]="['link-active']" [routerLinkActiveOptions]="{ exact: true }">
            <a class="text-dark  nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"
              aria-expanded="false" aria-label="Basic outlined example">Usuario</a>
            <ul class="text-center dropdown-menu " aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item btn btn-primary btn-outline-primary " [routerLink]="['/registroUsuario']">Registrar Usuario</a></li>
              <li><a class="dropdown-item btn btn-primary btn-outline-primary " [routerLink]="['/consultaUsuario']">Consultar Usuario</a></li>
              <hr class="navbar-divider">
              <li><a class="dropdown-item btn btn-primary btn-outline-primary " [routerLink]="['/registrarConsulta']">Registrar Consulta</a></li>
              <li><a class="dropdown-item btn btn-primary btn-outline-primary " [routerLink]="['/historialClinico']">Historial Clinico</a></li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="text-dark  nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">Servicios</a>
            <ul class="text-center dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item btn btn-primary btn-outline-primary " [routerLink]="['/registrarServicio']">Registrar Sevicio</a></li>
              <!-- <li><a class="dropdown-item btn btn-primary btn-outline-primary " [routerLink]="['/consultarServicio']">Consultar Servicios </a></li> -->
            </ul>
          </li>

          <li class="nav-item dropdown ">
            <a class="text-dark  nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">Inventario</a>
            <ul class="text-center dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item btn btn-primary btn-outline-primary " [routerLink]="['/registroProducto']">Registrar Producto</a></li>
              <li><a class="dropdown-item btn btn-primary btn-outline-primary " [routerLink]="['/gestionInventario']">Gestionar Inventario</a></li>
            </ul>
          </li>

          <li class="nav-item dropdown ">
            <a class="text-dark  nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">Facturacion</a>
            <ul class="text-center dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item btn btn-primary btn-outline-primary " [routerLink]="['/registrarFactura']">Realizar Factura</a></li>
              <!-- <li><a class="dropdown-item btn btn-primary btn-outline-primary " [routerLink]="['/consultarFactura']">Historial de Facturas</a></li> -->
            </ul>
          </li>

          <li class="nav-item" [routerLinkActive]="['link-active']" [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link text-dark " [routerLink]="['/registrarAgenda']">Agendar</a>
          </li>

          <li class="nav-item" [routerLinkActive]="['link-active']" [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link text-dark " [routerLink]="['/informe']">Informe</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
