<div class="row justify-content-center">
  <h5 class="text-center">Historial Odontologico</h5>
  <div  class="col-6" style = "min-width: 800px;">
    <hr>
    <div class="row">
      <div class = "col-md">
        <div class="form-floating border border-5">
          <input type="text" class="form-control">
          <label for="floatingInputGrid">No Documento</label>
        </div>
      </div>
      <div class = "col-md">
        <div class="form-floating border border-5">
          <input type="date" class="form-control">
          <label for="floatingInputGrid">Fecha de Inicio</label>
        </div>
      </div>
      
    </div>
    <br>
    <div class="row">
      <div class = "col-md">
        <div class="form-floating border border-5">
          <input type="text" class="form-control" readonly>
          <label for="floatingInputGrid">Id Antecedentes</label>
        </div>
      </div>
      <div class = "col-md">
        <div class="form-floating border border-5">
         <input type="text" class="form-control" readonly>
         <label for="floatingInputGrid">Id Historial Clinico </label>
       </div>
     </div>
    </div>
    <br>
    <h5 class="text-center">Antecedentes</h5>
    <hr>
    <div class="row">
      <div class="col-md">
        <div class="form-floating border border-5">
          <textarea class="form-control" id="floatingTextarea2" style="min-height: 100px"></textarea>
          <label for="floatingInputGrid">Enfermedades</label>
        </div>
      </div>
      <div class="col-md">
        <div class="form-floating border border-5">
          <textarea class="form-control" id="floatingTextarea2" style="min-height: 100px"></textarea>
          <label for="floatingInputGrid">Quimicos</label>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md">
        <div class="form-floating border border-5">
          <textarea class="form-control" id="floatingTextarea2" style="min-height: 100px"></textarea>
          <label for="floatingInputGrid">Farmaceuticos</label>
        </div>
      </div>
      <div class="col-md">
        <div class="form-floating border border-5">
          <textarea class="form-control" id="floatingTextarea2" style="min-height: 100px"></textarea>
          <label for="floatingInputGrid">Complicaciones</label>
        </div>
      </div>
    </div>
    <br>
    <div class="row justify-content-center">
      <div class="col-6">
          <button type="button" class="btn btn-outline-danger btn-sm position-absolute top-0 end-0">Cancelar</button>
      </div>
      <div class="col col-md">
          <button type="button" class="btn btn-outline-success btn-sm" (click)="add()">Guardar</button>
      </div>
    </div>
  </div>  
</div>

<!-- (click)="onSubmit()" 
          (click)="clearCampos()"-->
