<div class="container">
  <div class="row">
    <h4 class="text-center">Consulta de Paciente</h4>
    <hr>
  </div>
  <div class="row">
    <div class="col-6">
      <label for="filter">Filtro</label>
      <br>
      <input onChange="get()" [(ngModel)]="searchText" 
      type="text" class="formcontrol"  placeholder="Identificacion Buscada">

    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md">
      <div class="column">
        <div class="table-container">
          <table class="table table-striped" *ngIf='pacientes && pacientes.length'>
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Documento</th>
                <th scope="col">Nombres </th>
                <th scope="col">Apellidos </th>
                <th scope="col">FechaNacimiento </th>
                <th scope="col">Sexo</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let p of pacientes|filtroPaciente:searchText; index as i ">
                <th scope="row">{{i + 1}}</th>
                <td>{{p.noDocumento}}</td>
                <td>{{p.nombres}}</td>
                <td>{{p.apellidos}}</td>
                <td>{{p.fechaNacimiento}}</td>
                <td>{{p.sexo}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- <div class="col-md">
      <div class="text-center">
        <h2>Detalle del Paciente</h2>
        <hr>
      </div>
      <div class="p-2 text-dark">
        <h3>Nombres: Andres Alfonso</h3>
        <h3>Apellidos: Pertuz Perez</h3>
        <h3>Edad: 21</h3>
        <h3>Fecha de nacimiento: 12 Junio 2000</h3>
        <h3>Sexo: Masculino</h3>
        <h3>Tipo Sanguineo: O+</h3>
        <h3>Contacto</h3>
        <h3>Numero de Telefono: 3232851220</h3>
        <h3>Correo electronico: anpertuzperez@gmail.com</h3>
      </div>
    </div> -->
  </div>
</div>

