<!-- <div class="container">
  <div class="row">
    <h4 class="text-center">Consulta de Paciente</h4>
    <hr>
  </div>
  <div class="row">
    <div class="col-6">
      <label for="filter">Filtro</label>
      <br>
      <input onChange="get()" [(ngModel)]="searchText"
             type="text" class="formcontrol" placeholder="Identificacion Buscada">
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md">
      <div class="column">
        <div class="table-container">
          <table class="table table-striped" *ngIf='pacientes && pacientes.length'>
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Tipo Documento</th>
                <th scope="col">Documento</th>
                <th scope="col">Nombres </th>
                <th scope="col">Apellidos </th>
                <th scope="col">Sexo</th>
                <th scope="col">Tipo Sanguineo</th>
                <th scope="col">FechaNacimiento </th>
                <th scope="col">Lugar Nacimiento</th>
                <th scope="col">Correo Electronico</th>
                <th scope="col">Telefono</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let p of pacientes|filtroPaciente:searchText; index as i ">
                <th scope="row">{{i + 1}}</th>
                <td>{{p.noDocumento}}</td>
                <td>{{p.nombres}}</td>
                <td>{{p.apellidos}}</td>
                <td>{{p.fechaNacimiento}}</td>
                <td>{{p.sexo}}</td>
                <td><a (click)="find('{{p.noDocumento}}')">view</a></td> 
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-md" >
      <div class="text-center" *ngIf = 'view'>
        <h5>Detalle del Paciente</h5>
        <hr>
      </div>
      <div >

      </div>
    </div>
  </div>
</div> -->

<div class="form-group form-inline">
  Filtro: <input class="form-control ml-2" onChange="get()" [(ngModel)]="searchText" type="text"
    placeholder="Identificacion">
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Tipo Documento</th>
      <th scope="col">Documento</th>
      <th scope="col">Nombres </th>
      <th scope="col">Apellidos </th>
      <th scope="col">Sexo</th>
      <th scope="col">Tipo Sanguineo</th>
      <th scope="col">FechaNacimiento </th>
      <th scope="col">Lugar Nacimiento</th>
      <th scope="col">Correo Electronico</th>
      <th scope="col">Telefono</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let p of pacientes|filtroPaciente:searchText; index as i ">
      <th scope="row">{{i + 1}}</th>
      <td>{{p.noDocumento}}</td>
      <td>{{p.nombres}}</td>
      <td>{{p.apellidos}}</td>
      <td>{{p.fechaNacimiento}}</td>
      <td>{{p.sexo}}</td>
<p> </p>
    </tr>
  </tbody>
</table>

<div class="d-flex justify-content-between p-2">
  <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize" (pageChange)="get()">
  </ngb-pagination>

  <select class="custom-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="get()">
    <option [ngValue]="2">2 items per page</option>
    <option [ngValue]="4">4 items per page</option>
    <option [ngValue]="6">6 items per page</option>
  </select>
</div>
