<div class="container">
  <div>
    <h2>Consulta de Paciente</h2>
    <hr>
    <div class="row">
      <div class="col-6">
        <input type="text" class="formcontrol" placeholder="Identificacion">
      </div>
    </div>
    <br>
  </div>

  <div class="row g-2">
    <div class="col-md">
      <div class="columns">
        <div class="column">
          <div class="table-container">
            <table class="table">
              <thead>
                <tr>
                  <th>Identificacion</th>
                  <th>Nombre</th>
                  <th>Sexo</th>
                  <th>Edad</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1003</td>
                  <td>Fabian</td>
                  <td>Masculino</td>
                  <td>17</td>
                </tr>
                <tr>
                  <td>1004</td>
                  <td>Andres</td>
                  <td>Masculino</td>
                  <td>21</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md">
      <div class="text-center">
        <h2>Detalle del Paciente</h2>
        <hr>
      </div>
      <div>
        Nombre Edad Motivo de la Consulta Antecedentes
      </div>
    </div>
  </div>
</div>