<div class="container overflow-hidden">
  <div class="row gx-5" style="width: 30%">
      <div class="col">
        <form action="">
          <label for="">Identificacion</label>
          <input class="form-control" type="text" aria-label="default input example">
  
          <div class="container">
            <mat-form-field appearance="fill">
              <mat-label></mat-label>
              <input matInput [matDatepicker]="picker">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
          <br>
          <button type="button" class="btn btn-outline-info btn-sm">Consultar</button>
        </form>
      </div>
  </div>
  
  <div class="bg-danger" style="width: 65%">
    <div class="col">
      <h1>hola</h1>
    </div>
    
  </div>
</div>