<header class=" text-dark rounded">
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3">
    <div class="container p-3 mb-2 text-dark">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
        aria-label="Toggle navigation" [attr.aria-expanded]="isExpanded" (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>

      <a class="navbar-brand" href="#">
        <img src="../../assets/Logo 3.png" alt="">
      </a>

      <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end" [ngClass]="{ show: isExpanded }">
        <div>
          <ul class="navbar-nav flex-grow">
            <li class="nav-item" [routerLinkActive]="['link-active']" [routerLinkActiveOptions]="{ exact: true }">
              <a class="nav-link text-dark " [routerLink]="['/home']">Home</a>
            </li>
            <li class="nav-item dropdown" [routerLinkActive]="['link-active']"
              [routerLinkActiveOptions]="{ exact: true }">
              <a class="text-dark  nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"
                aria-expanded="false" aria-label="Basic outlined example">Paciente</a>
              <ul class="text-center dropdown-menu " aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item btn btn-primary btn-outline-primary "
                    [routerLink]="['/registroUsuario']">Registrar</a></li>
                <li><a class="dropdown-item btn btn-primary btn-outline-primary "
                    [routerLink]="['/consultaUsuario']">Consultar</a></li>

              </ul>
            </li>


            <li class="nav-item" [routerLinkActive]="['link-active']" [routerLinkActiveOptions]="{ exact: true }">
              <a class="nav-link text-dark " [routerLink]="['/registrarServicio']">Servicios</a>
            </li>

            <li class="nav-item dropdown ">
              <a class="text-dark  nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">Inventario</a>
              <ul class="text-center dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item btn btn-primary btn-outline-primary "
                    [routerLink]="['/registroProducto']">Registrar Producto</a></li>
                <li><a class="dropdown-item btn btn-primary btn-outline-primary "
                    [routerLink]="['/gestionInventario']">Gestionar Inventario</a></li>
              </ul>
            </li>
            
            <li class="nav-item" [routerLinkActive]="['link-active']" [routerLinkActiveOptions]="{ exact: true }">
              <a class="nav-link text-dark " [routerLink]="['/agendaMedico']">Agendar Cita</a>
            </li>

            <li class="nav-item" [routerLinkActive]="['link-active']" [routerLinkActiveOptions]="{ exact: true }">
              <a class="nav-link text-dark " [routerLink]="['/informe']">Informe</a>
            </li>
            <li class="nav-item" [routerLinkActive]="['link-active']">
              <a class="nav-link text-dark hover-light" (click)="logout()"><img src="../../../assets/logout.png" alt=""></a>
            </li>
          </ul>
        </div>

      </div>
    </div>
  </nav>
</header>
