<div class="container">
  <div class="row">

    <div class="row">
      <div class="col-12">
        <h1 class="text-center">Factura</h1>
        <hr>
      </div>
    </div>


    <div class="col-4" style="max-width: 250px; min-width: 220px;">
      <div class="row">
        <div class="col-12">
          <h2 class="text-center">Datos</h2>
          <hr>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <div class="form-floating">
            <input type="text" class="form-control">
            <label for="floatingInputGrid">Identificacion</label>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <div class="form-floating">
            <input type="text" class="form-control">
            <label for="floatingInputGrid">Nombres</label>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <div class="form-floating">
            <input type="text" class="form-control">
            <label for="floatingInputGrid">Apellidos</label>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <div class="form-floating">
            <select class="form-select">
              <option selected>Seleccionar</option>
              <option value="1">Servicio 1</option>
              <option value="2">Servicio 2</option>
              <option value="3">Servicio 3</option>
            </select>
            <label>Nombre del Servicio</label>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <div class="form-floating">
            <input type="date" class="form-control">
            <label for="floatingInputGrid">Fecha</label>
          </div>
        </div>
      </div>


    </div>

    <div class="col-8">
      <div class="row">
        <div class="col-12">
          <h2 class="text-center">Formato</h2>
        </div>
        <hr>
      </div>

      <div class="row">
        <div class="col-12  bg-danger">


        </div>
      </div>
    </div>

    <div class="col-12">
      <br>
      <div class="row justify-content-center">
        <div class="col-6">
          <button type="button" class="btn btn-outline-danger btn-sm position-absolute top-0 end-0">Cancelar</button>
        </div>
        <div class="col-6 col-md">
          <button type="button" class="btn btn-outline-success btn-sm ">Guardar y Descargar</button>
        </div>
      </div>
    </div>
  </div>