<body>

  <header>
    <nav class="navbar navbar-light bg-light">
        
        <div class="row" style="height: 100px;">
            <div class="col-md-2">
                
            </div>
            <div class="col-md-4">
                <img src="Logo2.png" alt="" width="180" height="90" class="d-inline-block align-text-top">
            </div>

            <div class="col-md-4">
                
            </div>

            <div class="col-md-4">
                
            </div>
        </div> 
    </nav>
   
  </header>

  <section>

  </section>

  <footer>

  </footer>
</body>
