<div class="row">
    
    <div class="col-sm-6">
      <div class="">
        <div class="card-body">
            <div >
                <div class="wrapper-calendar">
                    <div class="header-calendar">
                        <div>
                            <button (click)="changeMonth(-1)" class="btn-prev">Prev</button>
                        </div>
                        <h1>{{dateSelect | date:'MMMM, yyyy'}}</h1>
                        <div>
                            <button (click)="changeMonth(1)" class="btn-next">Next</button>
                        </div>
                    </div>
                    <ol>
                        <li *ngFor="let day of week" class="day-name">{{day | slice:0:3}}</li>
                
                        <li (click)="clickDay(day)" [style.gridColumnStart]="first ? day?.indexWeek : 'auto'"
                         *ngFor="let day of monthSelect;let first = first">
                            <span>{{day?.value}}</span>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
        <div class="">
          <div class="card-body">
              <div class="alert alert-warning" role="alert">
                  A simple warning alert—check it out!
                </div>
          </div>
        </div>
      </div>
  </div>