<div>
  <h2 class="p-3 mb-2 bg-primary text-white text-center shadow-lg p-3 mb-5 bg-body rounded rounded-3" style="background-color:#0099ff;;">
  Servicios
  </h2>
</div>
<div class="container">
  <mat-form-field appearance="standard">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
  </mat-form-field>
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="servicios">
    
    
      <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef> nombre </th>
      <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
    </ng-container>
  
  
    <ng-container matColumnDef="precio">
      <th mat-header-cell *matHeaderCellDef> precio </th>
      <td mat-cell *matCellDef="let element"> {{element.precio}} </td>
    </ng-container>
  
  
    <ng-container matColumnDef="duracion">
      <th mat-header-cell *matHeaderCellDef> duracion </th>
      <td mat-cell *matCellDef="let element"> {{element.duracion}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table> 
      <mat-paginator [pageSizeOptions]="[3, 6]"
    showFirstLastButtons 
    aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>
 
</div>

