<div class="container">
  <h2 class="text-center">Agendar Cita</h2>
  <hr>
  <br>
  <div class="row">
    <div class="col col-5 " style="min-width: 300px;">
      <h2 class="text-center">Registro</h2>
      <hr>
      <div class="col-md">
        <div class="form-floating border border-5">
          <input type="text" class="form-control">
          <label for="floatingInputGrid">Identificacion</label>
        </div>
      </div>
      <div class="col-md">
        <div class="form-floating border border-5">
          <input type="text" class="form-control" disabled>
          <label for="floatingInputGrid">Nombres</label>
        </div>
      </div>
      <div class="col-md">
        <div class="form-floating border border-5">
          <input type="text" class="form-control" disabled>
          <label for="floatingInputGrid">Apellidos</label>
        </div>
      </div>
      <div class="col-md">
        <div class="form-floating border border-5">
          <input type="date" class="form-control">
          <label for="floatingInputGrid">Fecha de la Cita</label>
        </div>
      </div>
      <div class="col-md">
        <div class="form-floating border border-5">
          <textarea class="form-control" id="floatingTextarea2" style="height: 100px"></textarea>
          <label for="floatingInputGrid">Motivo</label>
        </div>
      </div>
      <br>
      <div class="row justify-content-center">
        <div class="col col-auto">
          <button type="button" class="btn btn-outline-danger btn-sm">Cancelar</button>
        </div>
        <div class="col col-auto">
          <button type="button" class="btn btn-outline-success btn-sm">Guardar</button>
        </div>
      </div>
    </div>
    <div class="col" style="min-width: 400px;">
      <h2 class="text-center">Agenda</h2>
      <hr>
      <div class=" bg-info" style="height: 350px;">
        <div class="row">
          <div class="col col-4">
            <h1 class="text-center" style="height: 100px;"> Datos</h1>
          </div>
          <div class="col col-4">
            <h1 class="text-center" style="height: 100px;"> Datos</h1>
          </div>
          <div class="col col-4">
            <h1 class="text-center" style="height: 100px;"> Datos</h1>
          </div>
        </div>
        <div class="row">
          <div class="col col-4">
            <h1 class="text-center" style="height: 100px;"> Datos</h1>
          </div>
          <div class="col col-4">
            <h1 class="text-center" style="height: 100px;"> Datos</h1>
          </div>
          <div class="col col-4">
            <h1 class="text-center" style="height: 100px;"> Datos</h1>
          </div>
        </div>
        <div class="row">
          <div class="col col-4">
            <h1 class="text-center" style="height: 100px;"> Datos</h1>
          </div>
          <div class="col col-4">
            <h1 class="text-center" style="height: 100px;"> Datos</h1>
          </div>
          <div class="col col-4">
            <h1 class="text-center" style="height: 100px;"> Datos</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
