<div class="container">
    <h2 class="text-center">Agendar Cita</h2>
    <hr>
    <br>
    <div class="row">
        <div class = "col col-5 "> 
            <div class="col-md">
                <div class="form-floating">
                  <input type="text" class="form-control">
                  <label for="floatingInputGrid">Identificacion</label>
                </div>
              </div>
              <div class="col-md">
                <div class="form-floating">
                  <input type="text" class="form-control">
                  <label for="floatingInputGrid">Nombres</label>
                </div>
              </div>
              <div class="col-md">
                <div class="form-floating">
                  <input type="text" class="form-control">
                  <label for="floatingInputGrid">Apellidos</label>
                </div>
              </div>
            <div class="col-md">
                <div class="form-floating">
                  <input type="date" class="form-control">
                  <label for="floatingInputGrid">Fecha de la Cita</label>
                </div>
              </div>
            <div class="col-md">
                <div class="form-floating">
                  <textarea class="form-control" id="floatingTextarea2" style="height: 100px"></textarea>
                  <label for="floatingInputGrid">Motivo</label>
                </div>
            </div>
            <br>
            <div class = "row justify-content-center">
                <div class="col col-auto">
                  <button type="button" class="btn btn-outline-danger btn-sm">Cancelar</button>
                </div>
                <div class="col col-auto">
                  <button type="button" class="btn btn-outline-success btn-sm">Guardar Cita</button>
                </div>
            </div>
        </div>
        <div class = "col">
            <h2 class="text-center">Agenda Dispinible</h2>
            <hr>
            <br>
            <div class=" bg-info" style="height: 400px;">

            </div>
        </div>
    </div>
</div>