<div class="container"style="width: 700px;">
  <div class="row">
    <h5 class="text-center">Historial Odontologico</h5>
    <hr>
  </div>

  <div class="row justify-content-center" >
    <form >
      <div class="row">
        <div class="col-9">
          <div class="form-floating">
            <input type="text" class="form-control" 
            [(ngModel)]="paciente.noDocumento" name="noDocumentoPaciente">
            <label for="floatingInputGrid">Documento del Paciente</label>
          </div>
        </div>        
      </div>
      <br>
      <div class="row">
        <div class="col-md">
          <div class="form-floating">
            <input type="text" class="form-control" 
            [(ngModel)]="paciente.nombres" name="nombres" readonly>
            <label for="floatingInputGrid">Nombres</label>
          </div>
        </div>
        <div class="col-md">
          <div class="row">
            <div class="form-floating">
              <input type="text" class="form-control" 
              [(ngModel)]="paciente.apellidos" name="apellidos" readonly>
              <label for="floatingInputGrid">Apellidos</label>
            </div>
        </div>
      </div>
      </div>
      <br>
      <div class="row">
      <div class="col-md">
        <div class="form-floating">
          <input type="text" class="form-control" 
          [(ngModel)]="historia.enfermedades" name="enfermedades" readonly>
          <label for="floatingInputGrid">Enfermedades</label>
        </div>
      </div>
      <div class="col-md">
        <div class="form-floating">
          <input type="text" class="form-control" 
          [(ngModel)]="historia.quimicos" name="quimicos" readonly>
          <label for="floatingInputGrid">Quimicos</label>
        </div>
      </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md">
          <div class="form-floating">
            <input type="text" class="form-control" 
            [(ngModel)]="historia.farmaceuticos" name="farmaceuticos" readonly>
            <label for="floatingInputGrid">Farmaceuticos</label>
          </div>
        </div>
        <div class="col-md">
          <div class="form-floating">
            <input type="text" class="form-control"
             [(ngModel)]="historia.complicaciones" name="complicaciones" readonly>
            <label for="floatingInputGrid">Complicaciones</label>
          </div>
        </div>
        </div>
        <br>
    </form>
  </div>
  <div class="row">
    <div class="col-md">    
      <table class="table table-hover table-light" >
        <thead class="thead-prima text-primary">
          <tr>
            <th scope="col">Diagnostigo</th>
            <th scope="col">Valoracion </th>
            <th scope="col">Medicacion </th>
            <th scope="col">Receta Medica</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let c of consultas; index as i">
            <th scope="row">{{c.diagnostico}}</th>
            <th scope="row">{{c.valoracion}}</th>
            <th scope="row">{{c.medicacion}}</th>
            <th scope="row">{{c.recetaMedica}}</th>
          </tr>
        </tbody>
      </table>      
      <!--<div class="d-flex justify-content-between p-2">
        <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize" (pageChange)="get()">
        </ngb-pagination>
      
        <select class="custom-select" style="width: auto" [(ngModel)]="pageSize" >
          <option [ngValue]="2">2 consultas</option>
          <option [ngValue]="4">4 consultas</option>
          <option [ngValue]="6">6 consultas</option>
        </select>
      </div>-->
    </div>
  </div>
</div>
