<div class="container">
  <div class="row">
    <h1 class="text-center">Historial Clinico</h1>
    <hr>
  </div>
  <div class="row">
    <div class="col-4" style="min-width: 120px; max-width: 350px;">
      <h2 class="text-center">Datos</h2>
      <hr>

      <div class="form-floating border border-5">
        <input type="text" class="form-control">
        <label for="floatingInputGrid">Identificacion</label>
      </div>


      <div class="form-floating border border-5">
        <input type="text" class="form-control" disabled>
        <label for="floatingInputGrid">Nombres</label>
      </div>

      <div class="form-floating border border-5">
        <input type="text" class="form-control" disabled>
        <label for="floatingInputGrid">Apellidos</label>
      </div>

      <div class="form-floating border border-5">
        <input type="date" class="form-control">
        <label for="floatingInputGrid">Fecha de Inicio</label>
      </div>

      <div class="form-floating border border-5">
        <input type="date" class="form-control">
        <label for="floatingInputGrid">Fecha de Fin</label>
      </div>

      <br>
      <div class="row ">
        <div class="col">
          <button type="button"
            class="btn btn-outline-info btn-sm position-absolute top-0 start-50 translate-middle">Consultar</button>
        </div>
      </div>
    </div>

    <div class="col-8">
      <div class="row">
        <h2 class="text-center"> Historias </h2>
        <hr>
        <table>
          <thead>
            <tr>
              <th>item</th>
              <th>item</th>
              <th>item</th>
              <th>item</th>
              <th>item</th>
              <th>item</th>
              <th>item</th>
              <th>item</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>info</td>
              <td>info</td>
              <td>info</td>
              <td>info</td>
              <td>info</td>
              <td>info</td>
              <td>info</td>
              <td>info</td>
            </tr>
            <tr>
              <td>info</td>
              <td>info</td>
              <td>info</td>
              <td>info</td>
              <td>info</td>
              <td>info</td>
              <td>info</td>
              <td>info</td>
            </tr>
            <tr>
              <td>info</td>
              <td>info</td>
              <td>info</td>
              <td>info</td>
              <td>info</td>
              <td>info</td>
              <td>info</td>
              <td>info</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <h2 class="text-center"> Detalles </h2>
    <hr>
    <div class="col-12" style="height: 100%;">


    </div>
  </div>
</div>