<div class="container" style="width: 700px;">
  <div class="row">
    <h5 class="text-center">Citas</h5>
    <hr>
  </div>
  <div class="row justify-content-right">
    <div class="col-10">
      <label for="filter">Filtro: <input onChange="get()" [(ngModel)]="searchText" type="text" class="formcontrol"
          placeholder="Fecha Cita"></label>
    </div>
    <div class="col align-self-end">
      <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#GuardarCita">Agregar</button>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md">
      <div class="column">
        <div class="table-container">
          <table class="table table-light table-hover" *ngIf='agendaCitas && agendaCitas.length'>
            <thead class="text-primary">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Documento</th>
                <!-- <th scope="col">Nombres</th>
                <th scope="col">Apellidos</th> -->
                <th scope="col">Fecha</th>
                <th scope="col">Estado</th>
                <th scope="col">Details</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let c of agendaCitas; index as i ">
                <th scope="row">{{i + 1}}</th>
                <td>{{c.noDocumentoPaciente}}</td>
                <td>{{c.fecha}}</td>
                <td>{{c.estado}}</td>
                <td><a class="txt-primary" data-bs-toggle="modal" (click)="onSearch(c.idSolicitudCita)"
                    data-bs-target="#ModificarCita">view</a></td>
              </tr>
            </tbody>
          </table>
          <div class="d-flex justify-content-right p-2">
            <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize"
              (pageChange)="get()">
            </ngb-pagination>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="GuardarCita" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center" id="staticBackdropLabel">Datos de la cita</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body ">
        <!-- style="width: 300px;" -->
        <form >
          <div class="row">
            <div class="form-floating">
              <input type="text" class="form-control" [(ngModel)]="agendaCitaModificar.noDocumentoPaciente" name="noDocumento">
              <label for="floatingInputGrid">Documeto del Paciente</label>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="form-floating">
              <input type="date" class="form-control" [(ngModel)]="agendaCitaModificar.fecha" name="fecha">
              <label for="floatingInputGrid">Fecha</label>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="form-floating">
              <input type="text" class="form-control" [(ngModel)]="agendaCitaModificar.estado" name="estado">
              <label for="floatingInputGrid">Estado</label>
            </div>
          </div>
          <br>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-outline-primary" (click)="add()">Guardar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="ModificarCita" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center" id="staticBackdropLabel">Detalles de la Cita</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <!-- <div class="row">
              <div class="col-md">
                <div class="form-floating">
                  <input type="text" class="form-control" 
                  [(ngModel)]="agendaCita.noDocumento" name="noDocumento" readonly>
                  <label for="floatingInputGrid">Identificacion</label>
                </div>
              </div>            
          </div> 
          <br>-->
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-outline-primary" (click)="update()">Modificar</button>
      </div>
    </div>
  </div>
</div>

<!-- <div class="container">
  (click)="update()"
  <div class="row">
    <div class="col-4 " style="min-width: 300px;">
      <h2 class="text-center">Registro</h2>
      <hr>
      <div class="col-md">
        <div class="form-floating border border-5">
          <input type="text" class="form-control">
          <label for="floatingInputGrid">Identificacion</label>
        </div>
      </div>
      <div class="col-md">
        <div class="form-floating border border-5">
          <input type="text" class="form-control" disabled>
          <label for="floatingInputGrid">Nombres</label>
        </div>
      </div>
      <div class="col-md">
        <div class="form-floating border border-5">
          <input type="text" class="form-control" disabled>
          <label for="floatingInputGrid">Apellidos</label>
        </div>
      </div>
      <div class="col-md">
        <div class="form-floating border border-5">
          <input type="date" class="form-control">
          <label for="floatingInputGrid">Fecha de la Cita</label>
        </div>
      </div>
      <div class="col-md">
        <div class="form-floating border border-5">
          <textarea class="form-control" id="floatingTextarea2" style="height: 100px"></textarea>
          <label for="floatingInputGrid">Motivo</label>
        </div>
      </div>
      <br>
      <div class="row justify-content-center">
        <div class="col-6">
            <button type="button" class="btn btn-outline-danger btn-sm position-absolute top-0 end-0">Cancelar</button>
        </div>
        <div class="col col-md">
            <button type="button" class="btn btn-outline-success btn-sm ">Guardar</button>
        </div>
      </div>
    </div>
  </div>
</div> -->
