<div class="row justify-content-center">
  <h5 class="text-center">Historial Odontologico</h5>
  <div class="col-6" style="min-width: 800px;">
    <hr>
    <form>
      <div class="row">
        <div class="col-md">
          <div class="form-floating border border-5">
            <input type="text" name="noDocumentoPaciente" class="form-control" 
            [(ngModel)]= "paciente.noDocumento" readonly>
            <label for="floatingInputGrid">No Documento</label>
          </div>
        </div>
      </div>
      <br>
      <div class ="row ">
        <div class="col-md">
          <div class="form-floating">
            <input type="text" name="nombres" class="form-control" 
            [(ngModel)]="paciente.nombres"  readonly >
            <label for="floatingInputGrid">Nombres</label>
          </div>
        </div>
        <div class="col-md">
          <div class="form-floating">
            <input type="text" name="apellidos" class="form-control" 
            [(ngModel)]="paciente.apellidos" readonly >
            <label for="floatingInputGrid">Apellidos</label>
          </div>
        </div>
      </div>
    </form>
    <form [formGroup]="formHistoriaOdontologica">
      <br>
      <h6 class="text-center">Antecedentes</h6>
      <div class="row">
        <div class="col-md">
          <div class="form-floating border border-5">
            <textarea class="form-control" formControlName="enfermedades" style="min-height: 100px" 
            [ngClass]="{ 'is-invalid':  control.enfermedades.errors }"></textarea>
            <label for="floatingInputGrid">Enfermedades</label>
          </div>
        </div>
        <div class="col-md">
          <div class="form-floating border border-5">
            <textarea class="form-control" formControlName="quimicos" style="min-height: 100px" 
            [ngClass]="{ 'is-invalid':  control.quimicos.errors }"></textarea>
            <label for="floatingInputGrid">Quimicos</label>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md">
          <div class="form-floating border border-5">
            <textarea class="form-control" formControlName="farmaceuticos" style="min-height: 100px" 
            [ngClass]="{ 'is-invalid':  control.farmaceuticos.errors }"></textarea>
            <label for="floatingInputGrid">Farmaceuticos</label>
          </div>
        </div>
        <div class="col-md">
          <div class="form-floating border border-5">
            <textarea class="form-control" formControlName="complicaciones" style="min-height: 100px" 
            [ngClass]="{ 'is-invalid':  control.complicaciones.errors }"></textarea>
            <label for="floatingInputGrid">Complicaciones</label>
          </div>
        </div>
      </div>
    </form>
    <br>
    <div class="row justify-content-center">
      <div class="col-6">
        <button type="button" class="btn btn-outline-danger btn-sm position-absolute top-0 end-0" routerLink='/consultaUsuario'>Cancelar</button>
      </div>
      <div class="col col-md">
        <button type="button" id="guardar" class="btn btn-outline-success btn-sm" (click)="onSubmit()">Guardar</button>
      </div>
    </div>
  </div>
</div>



