<div class="row justify-content-center">
  <h5 class="text-center">Historial Odontologico</h5>
  <div class="col-6" style="min-width: 800px;">
    <hr>

    <form [formGroup]="formHistoriaOdontologica">

      <div class="row">
        <div class="col-md">
          <div class="form-floating border border-5">
            <input type="text" formControlName="noDocumentoPaciente" class="form-control" 
            [(ngModel)]= "this.historia.noDocumentoPaciente" readonly>
            <label for="floatingInputGrid">No Documento</label>
          </div>
        </div>
        <div class="col-md">
          <div class="form-floating border border-5">
            <input type="date" formControlName="fechaInicio" class="form-control" 
            [ngClass]="{ 'is-invalid':  control.fechaInicio.errors }" >
            <label for="floatingInputGrid">Fecha de Inicio</label>
          </div>
        </div>
      </div>
      <br>
      <h5 class="text-center">Antecedentes</h5>
      <hr>
      <div class="row">
        <div class="col-md">
          <div class="form-floating border border-5">
            <textarea class="form-control" formControlName="enfermedades" style="min-height: 100px" 
            [ngClass]="{ 'is-invalid':  control.enfermedades.errors }"></textarea>
            <label for="floatingInputGrid">Enfermedades</label>
          </div>
        </div>
        <div class="col-md">
          <div class="form-floating border border-5">
            <textarea class="form-control" formControlName="quimicos" style="min-height: 100px" 
            [ngClass]="{ 'is-invalid':  control.quimicos.errors }"></textarea>
            <label for="floatingInputGrid">Quimicos</label>
          </div>
        </div>
      </div>

      <br>

      <div class="row">
        <div class="col-md">
          <div class="form-floating border border-5">
            <textarea class="form-control" formControlName="farmaceuticos" style="min-height: 100px" 
            [ngClass]="{ 'is-invalid':  control.farmaceuticos.errors }"></textarea>
            <label for="floatingInputGrid">Farmaceuticos</label>
          </div>
        </div>
        <div class="col-md">
          <div class="form-floating border border-5">
            <textarea class="form-control" formControlName="complicaciones" style="min-height: 100px" 
            [ngClass]="{ 'is-invalid':  control.complicaciones.errors }"></textarea>
            <label for="floatingInputGrid">Complicaciones</label>
          </div>
        </div>
      </div>
    </form>
    <br>
    <div class="row justify-content-center">
      <div class="col-6">
        <button type="button" class="btn btn-outline-danger btn-sm position-absolute top-0 end-0" routerLink='/consultaUsuario'>Cancelar</button>
      </div>
      <div class="col col-md">
        <button type="button" class="btn btn-outline-success btn-sm" (click)="onSubmit()">Guardar</button>
      </div>
    </div>
  </div>
</div>



