<div class="container">
  <div class="row justify-content-center">
    <div class="col">
      <h6 class="text-center">Registro de Consulta</h6>
      <hr>

      
     
      <div class="col-12">
        <div class="row justify-content-center">
          <div class="col-6">
            <button type="button" class="btn btn-outline-danger btn-sm position-absolute top-0 end-0" routerLink='/consultaUsuario'>Cancelar</button>
          </div>
          <div class="col col-md">
              <button type="button" class="btn btn-outline-success btn-sm ">Guardar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>