<div class="row justify-content-center">
  <div  class="col-6" style = "min-width: 800px;">
    <div class="container ">
      <div class="row">
        <h5 class="text-center">Registro de Paciente</h5>
        <hr>
      </div>
      
      <form [formGroup]="formPaciente">
        <div class="row ">
          <div class="col-md">
            <div class="form-floating">
              <select class="form-select" formControlName="tipoDocumento" 
              [ngClass]="{ 'is-invalid':  control.tipoDocumento.errors }" >
                <option value="" selected>Seleccionar</option>
                <option value="Cedula de Ciudadania">Cedula de Ciudadania</option>
                <option value="Cedula de Extranjera">Cedula de Extranjera</option>
                <option value="Pasaporte">Pasaporte</option>
                <option value="Registro Civil">Registro Civil</option>
                <option value="Tarjeta de Identidad">Tarjeta de Identidad</option>
              </select>
              <label>Tipo de Identificacion</label>
            </div>
          </div>
          <div class="col-md">
            <div class="form-floating">
              <input type="text" formControlName="noDocumento" class="form-control"
              [ngClass]="{ 'is-invalid':  control.noDocumento.errors }" >
              <label for="floatingInputGrid">Identificacion</label>
            </div>
          </div>
        </div>
        <br>
        <div class ="row ">
          <div class="col-md">
            <div class="form-floating">
              <input type="text" formControlName="nombres" class="form-control"
              [ngClass]="{ 'is-invalid':  control.nombres.errors }" >
              <label for="floatingInputGrid">Nombres</label>
            </div>
          </div>
          <div class="col-md">
            <div class="form-floating">
              <input type="text" formControlName="apellidos" class="form-control"
              [ngClass]="{ 'is-invalid':  control.apellidos.errors }" >
              <label for="floatingInputGrid">Apellidos</label>
            </div>
          </div>
        </div>
        <br>
        <div class="row ">
          <div class="col-md">
            <div class="form-floating">
              <input type="date" formControlName="fechaNacimiento" class="form-control"
              [ngClass]="{ 'is-invalid':  control.fechaNacimiento.errors }" >
              <label for="floatingInputGrid">Fecha de Nacimiento</label>
            </div>
          </div>
          <div class="col-md">
            <div class="form-floating">
              <select class="form-select" formControlName="sexo"
              [ngClass]="{ 'is-invalid':  control.sexo.errors }" >
                <option value="" selected>Seleccionar</option>
                <option value="Masculino">Masculino</option>
                <option value="Famenino">Femenino</option>
                <option value="Indefinido">Indefinido</option>
              </select>
              <label>Sexo</label>
            </div>
          </div>
          <div class="col-md">
            <div class="form-floating">
              <select class="form-select" formControlName="tipoSanguineo"
              [ngClass]="{ 'is-invalid':  control.tipoSanguineo.errors }" >
                <option value="" selected>Seleccionar</option>
                <option value="AB+">AB+</option>
                <option value="A+">A+</option>
                <option value="A-">A-</option>
                <option value="AB-">AB-</option>
                <option value="O+">O+</option>
                <option value="O-">O-</option>
              </select>
              <label>Tipo Sanguineo</label>
            </div>
          </div>
        </div>
        <br>
        <div class="row ">
          <div class="col-md">
            <div class="form-floating">
              <input type="text" formControlName="lugarNacimiento" class="form-control"
              [ngClass]="{ 'is-invalid':  control.lugarNacimiento.errors }" >
              <label for="floatingInputGrid">Lugar de Nacimiento</label>
            </div>
          </div>
          <div class="col-md">
            <div class="form-floating">
              <input type="text" formControlName="numeroTelefonico" class="form-control"
              [ngClass]="{ 'is-invalid':  control.numeroTelefonico.errors }" >
              <label for="floatingInputGrid">Numero de Telefono</label>
            </div>
          </div>
          <div class="col-md">
            <div class="form-floating">
              <input type="text" formControlName="correoElectronico" class="form-control"
              [ngClass]="{ 'is-invalid':  control.correoElectronico.errors }" >
              <label for="floatingInputGrid">Correo Electronico</label>
            </div>
          </div>
        </div>
      </form>
      <br>
      <div class="row justify-content-center">
        <div class="col-6">
            <button type="button" class="btn btn-outline-danger btn-sm position-absolute top-0 end-0"
            (click)="clearCampos()">Cancelar</button>
        </div>
        <div class="col col-md">
            <button type="button" class="btn btn-outline-success btn-sm" (click)="onSubmit()">Guardar</button>
        </div>
      </div>
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-dialog modal-content modal-body text-center">
          mensaje
        </div>
      </div>
      <br>
    </div>
  </div>
</div>