<form [formGroup]="formPaciente">
  <div class="row justify-content-center">
    <div class="container" style="min-width: 800px;">
      <div class="row">
        <h1 class="text-center">Datos del Paciente</h1>
        <hr>
      </div>
      <div class="row ">
        <!-- Columna 1 -->
        <div class="col col-4">
          <div>
            <mat-form-field appearance="fill">
              <mat-label>Tipo de Identificación</mat-label>
              <select matNativeControl required [formControl]="selectTipoDocumento">
                <option value="" selected>Seleccionar</option>
                <option value="Cedula de Ciudadania">Cedula de Ciudadania</option>
                <option value="Cedula de Extranjera">Cedula de Extranjera</option>
                <option value="Pasaporte">Pasaporte</option>
                <option value="Registro Civil">Registro Civil</option>
                <option value="Tarjeta de Identidad">Tarjeta de Identidad</option>
              </select>
              <mat-error *ngIf="selectTipoDocumento.hasError('required')">
                ‎Este campo es obligatorio ‎
              </mat-error>
              <mat-hint>Puede seleccionar su tipo de documento aquí</mat-hint>
            </mat-form-field>
          </div>
          <br>
          <div>
            <mat-form-field appearance="fill">
              <mat-label>Nombres</mat-label>
              <input matInput placeholder="ej: Juan Carlos" [formControl]="nombres" required>
              <mat-error *ngIf="nombres.invalid">{{getErrorNombres()}}</mat-error>
              <mat-hint>Puede escribir sus nombres aquí</mat-hint>
            </mat-form-field>
          </div>
          <br>
          <div>
            <mat-form-field appearance="fill" style="width: 86%;">
              <mat-label>Fecha de Nacimiento</mat-label>
              <input matInput [matDatepicker]="picker1" [formControl]="fechaNacimiento">
              <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>
              <mat-hint>Puede seleccionar su fecha de nacimiento aquí</mat-hint>
            </mat-form-field>
          </div>
          <br>
          <div>
            <mat-form-field appearance="fill">
              <mat-label>Numero Celular</mat-label>
              <input matInput placeholder="ej: 3235285469" [formControl]="noDocumento" required>
              <mat-error *ngIf="numeroCelular.invalid">{{getErrorNumeroCelular()}}</mat-error>
              <mat-hint>Puede escribir su numero de celular aquí</mat-hint>
            </mat-form-field>
          </div>
        </div>

        <!-- Columna 2 -->
        <div class="col col-4">
          <div>
            <mat-form-field appearance="fill">
              <mat-label>No Documento</mat-label>
              <input matInput placeholder="ej: 1004125051" [formControl]="noDocumento" required>
              <mat-error *ngIf="noDocumento.invalid">{{getErrorDocumento()}}</mat-error>
              <mat-hint>Puede escribir su numero de documento aquí</mat-hint>
            </mat-form-field>
          </div>
          <br>
          <div>
            <mat-form-field appearance="fill">
              <mat-label>Apellidos</mat-label>
              <input matInput placeholder="ej: Peña Ramirez" [formControl]="apellidos" required>
              <mat-error *ngIf="apellidos.invalid">{{getErrorApellidos()}}</mat-error>
              <mat-hint>Puede escribir sus apellidos aquí</mat-hint>
            </mat-form-field>
          </div>
          <br>
          <div>
            <mat-form-field appearance="fill">
              <mat-label>Lugar de Nacimiento</mat-label>
              <input matInput placeholder="ej: Pivijay/Mag" [formControl]="lugarNacimiento" required>
              <mat-error *ngIf="lugarNacimiento.invalid">{{getErrorLugarNacimiento()}}</mat-error>
              <mat-hint>Puede escribir su lugar de nacimiento aquí</mat-hint>
            </mat-form-field>
          </div>

        </div>

        <!-- Columna 3 -->
        <div class="col col-4">
          <div>
            <mat-form-field appearance="fill">
              <mat-label>Tipo Sanguineo</mat-label>
              <select matNativeControl required [formControl]="selectTipoSanguineo">
                <option value="" selected>Seleccionar</option>
                <option value="Masculino">Masculino</option>
                <option value="Famenino">Femenino</option>
                <option value="Indefinido">Indefinido</option>
              </select>
              <mat-error *ngIf="selectTipoSanguineo.hasError('required')">
                ‎Este campo es obligatorio ‎
              </mat-error>
              <mat-hint>Puede seleccionar su Tipo Sanguineo aquí</mat-hint>
            </mat-form-field>
          </div>
          <br>
          <div>
            <mat-form-field appearance="fill">
              <mat-label>Sexo</mat-label>
              <select matNativeControl required [formControl]="selectSexo">
                <option value="" selected>Seleccionar</option>
                <option value="Masculino">Masculino</option>
                <option value="Famenino">Femenino</option>
                <option value="Indefinido">Indefinido</option>
              </select>
              <mat-error *ngIf="selectSexo.hasError('required')">
                ‎Este campo es obligatorio ‎
              </mat-error>
              <mat-hint>Puede seleccionar su sexo aquí</mat-hint>
            </mat-form-field>
          </div>
          <br>
          
          <div>
            <div class="example-container">
              <mat-form-field appearance="fill">
                <mat-label>Correr Electronico</mat-label>
                <input matInput placeholder="pat@example.com" [formControl]="email" required>
                <mat-error *ngIf="email.invalid">{{getErrorEmail()}}</mat-error>
                <mat-hint>Puede ingresar su Correo Electronico</mat-hint>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col col-6" n style="display: flex; align-items: center; justify-content: end;">
          <button mat-raised-button class="btn btn-outline-danger">Cancelar</button>
        </div>
        <div class="col col-6">
          <button mat-raised-button class="btn btn-outline-success">Guardar</button>
        </div>
      </div>
    </div>
  </div>
</form>




















<!-- <form [formGroup]="formPaciente">
  <div class="row ">
    <div class="col-md">
      <div class="form-floating">
        <select class="form-select" formControlName="tipoDocumento"
          [ngClass]="{ 'is-invalid':  control.tipoDocumento.errors && formPaciente.get('tipoDocumento').touched }">
          <option value="" selected>Seleccionar</option>
          <option value="Cedula de Ciudadania">Cedula de Ciudadania</option>
          <option value="Cedula de Extranjera">Cedula de Extranjera</option>
          <option value="Pasaporte">Pasaporte</option>
          <option value="Registro Civil">Registro Civil</option>
          <option value="Tarjeta de Identidad">Tarjeta de Identidad</option>
        </select>
        <label>Tipo de Identificacion</label>
      </div>
    </div>
    <div class="col-md">
      <div class="form-floating">
        <input type="text" formControlName="noDocumento" class="form-control"
          [ngClass]="{ 'is-invalid':  control.noDocumento.errors && formPaciente.get('noDocumento').touched}">
        <label for="floatingInputGrid">Identificacion</label>
      </div>
    </div>
  </div>
  <br>
  <div class="row ">
    <div class="col-md">
      <div class="form-floating">
        <input type="text" formControlName="nombres" class="form-control"
          [ngClass]="{ 'is-invalid':  control.nombres.errors && formPaciente.get('nombres').touched}">
        <label for="floatingInputGrid">Nombres</label>
      </div>
    </div>
    <div class="col-md">
      <div class="form-floating">
        <input type="text" formControlName="apellidos" class="form-control"
          [ngClass]="{ 'is-invalid':  control.apellidos.errors && formPaciente.get('apellidos').touched}">
        <label for="floatingInputGrid">Apellidos</label>
      </div>
    </div>
  </div>
  <br>
  <div class="row ">
    <div class="col-md">
      <div class="form-floating">
        <input type="date" formControlName="fechaNacimiento" class="form-control"
          [ngClass]="{ 'is-invalid':  control.fechaNacimiento.errors && formPaciente.get('fechaNacimiento').touched}">
        <label for="floatingInputGrid">Fecha de Nacimiento</label>
      </div>
    </div>
    <div class="col-md">
      <div class="form-floating">
        <select class="form-select" formControlName="sexo"
          [ngClass]="{ 'is-invalid':  control.sexo.errors && formPaciente.get('sexo').touched}">
          <option value="" selected>Seleccionar</option>
          <option value="Masculino">Masculino</option>
          <option value="Famenino">Femenino</option>
          <option value="Indefinido">Indefinido</option>
        </select>
        <label>Sexo</label>
      </div>
    </div>
    <div class="col-md">
      <div class="form-floating">
        <select class="form-select" formControlName="tipoSanguineo"
          [ngClass]="{ 'is-invalid':  control.tipoSanguineo.errors && formPaciente.get('tipoSanguineo').touched}">
          <option value="" selected>Seleccionar</option>
          <option value="AB+">AB+</option>
          <option value="A+">A+</option>
          <option value="A-">A-</option>
          <option value="AB-">AB-</option>
          <option value="O+">O+</option>
          <option value="O-">O-</option>
        </select>
        <label>Tipo Sanguineo</label>
      </div>
    </div>
  </div>
  <br>
  <div class="row ">
    <div class="col-md">
      <div class="form-floating">
        <input type="text" formControlName="lugarNacimiento" class="form-control"
          [ngClass]="{ 'is-invalid':  control.lugarNacimiento.errors && formPaciente.get('lugarNacimiento').touched}">
        <label for="floatingInputGrid">Lugar de Nacimiento</label>
      </div>
    </div>
    <div class="col-md">
      <div class="form-floating">
        <input type="text" formControlName="numeroTelefonico" class="form-control"
          [ngClass]="{ 'is-invalid':  control.numeroTelefonico.errors && formPaciente.get('numeroTelefonico').touched}">
        <label for="floatingInputGrid">Numero de Telefono</label>
      </div>
    </div>
    <div class="col-md">
      <div class="form-floating">
        <input type="text" formControlName="correoElectronico" class="form-control"
          [ngClass]="{ 'is-invalid':  control.correoElectronico.errors && formPaciente.get('correoElectronico').touched}">
        <label for="floatingInputGrid">Correo Electronico</label>
      </div>
    </div>
  </div>
</form>
<br>
<div class="row justify-content-center">
  <div class="col-6">
    <button type="button" class="btn btn-outline-danger btn-sm position-absolute top-0 end-0"
      (click)="clearCampos()">Cancelar</button>
  </div>
  <div class="col col-md">
    <button type="button" class="btn btn-outline-success btn-sm" (click)="onSubmit()">Guardar</button>
  </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-dialog modal-content modal-body text-center">
    mensaje
  </div>
</div>
<br> -->