<div class="container ">
  
  <div class="mx-auto" style="width: 40%">
    
    <div class="card">
      
      <div class="card-body cb1">
        <form action="">
          <label for="">Identificacion</label>
          <input class="form-control" type="text" aria-label="default input example">
          <label for="">Nombre</label>
          <input class="form-control" type="text" aria-label="default input example">
          <label for="">Apellidos</label>
          <input class="form-control" type="text" aria-label="default input example">
          <label for="">Genero</label>
          <select class="form-select">
          <option selected>Seleccionar</option>
          <option value="1">Masculino</option>
          <option value="2">Femenino</option>
          </select>
          <br>
          <button type="button" class="btn btn-outline-danger btn-sm">Cancelar</button>
          <button type="button" class="btn btn-outline-success btn-sm">Guardar</button> 
        </form>      
    </div>
    
  </div>
  
</div>
</div>
<!-- <div class="p-3 border fondo ">
        
      </div> -->