<div class="container">
  <div>
    <h2>Registro de Paciente</h2>
    <hr>
  </div>
  
  <div>
    <h4>Datos Principales*</h4>
  </div>
  <div class="row ">
    <div class="col-md">
      <div class="form-floating">
        <input type="text" class="form-control">
        <label for="floatingInputGrid">Identificacion</label>
      </div>
    </div>
    <div class="col-md">
      <div class="form-floating">
        <input type="text" class="form-control">
        <label for="floatingInputGrid">Nombres</label>
      </div>
    </div>
    <div class="col-md">
      <div class="form-floating">
        <input type="text" class="form-control">
        <label for="floatingInputGrid">Apellidos</label>
      </div>
    </div>
  </div>

  <br>
  <div class="row ">
    <div class="col-md">
      <div class="form-floating">
        <input type="date" class="form-control">
        <label for="floatingInputGrid">Fecha de Nacimiento</label>
      </div>
    </div>
    <div class="col-md">
      <div class="form-floating">
        <select class="form-select">
          <option selected>Seleccionar</option>
          <option value="1">Masculino</option>
          <option value="2">Famenino</option>
          <option value="3">Indefinido</option>
        </select>
        <label>Sexo</label>
      </div>
    </div>
    <div class="col-md">
      <div class="form-floating">
        <select class="form-select">
          <option selected>Seleccionar</option>
          <option value="1">AB+</option>
          <option value="2">A+</option>
          <option value="3">A-</option>
          <option value="4">AB-</option>
          <option value="5">0+</option>
          <option value="6">O-</option>
        </select>
        <label>Tipo Sanguineo</label>
      </div>
    </div>
  </div>

  <br>
  <div>
    <h4>Contacto*</h4>
  </div>
  <div class="row ">
    <div class="col-md">
      <div class="form-floating" style="width: 300px;">
        <input type="text" class="form-control">
        <label for="floatingInputGrid">Numero de Telefono</label>
      </div>
    </div>
    <div class="col-md">
      <div class="form-floating" style="width: 350px;">
        <input type="text" class="form-control">
        <label for="floatingInputGrid">Correo Electronico</label>
      </div>
    </div>
  </div>

  <br>
  <div>
    <h4>Clinico*</h4>
  </div>
  <div class="row ">
    <div class="col-md">
      <div class="form-floating">
        <textarea class="form-control" id="floatingTextarea2" style="height: 100px"></textarea>
        <label for="floatingInputGrid">Complicaciones</label>
      </div>
    </div>
    <div class="col-md">
      <div class="form-floating">
        <textarea class="form-control" id="floatingTextarea2" style="height: 100px"></textarea>
        <label for="floatingInputGrid">Antecedentes</label>
      </div>
    </div>
  </div>
  <br>
  <div class="row justify-content-center">
    <div class="col-6">
        <button type="button" class="btn btn-outline-danger btn-sm position-absolute top-0 end-0">Cancelar</button>
    </div>
    <div class="col col-md">
        <button type="button" class="btn btn-outline-success btn-sm ">Guardar</button>
    </div>
  </div>
  <br>
</div>
