<div>
  <h2 class="text-center p-3 mb-2 bg-primary text-white shadow-lg p-3 mb-5 bg-body rounded rounded-3" style="background-color:#0099ff;;">
  Solicitudes
  </h2>
</div>
<div class="container">

  <div class=" row justify-content-center">
  
    <div class="row align-items-center mat-elevation-z8">

      <table mat-table [dataSource]="solicitudCita">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
      
        <!-- Position Column -->
        <ng-container matColumnDef="documento">
          <th mat-header-cell *matHeaderCellDef> documento </th>
          <td mat-cell *matCellDef="let element"> {{element.noDocumento}} </td>
        </ng-container>

        <ng-container matColumnDef="idSolicitudCita">
          <th mat-header-cell *matHeaderCellDef> Id </th>
          <td mat-cell *matCellDef="let element"> {{element.idSolicitudCita}} </td>
        </ng-container>
      
        <!-- Name Column -->
        <ng-container matColumnDef="estado">
          <th mat-header-cell *matHeaderCellDef> estado </th>
          <td mat-cell *matCellDef="let element"> {{element.estado}} </td>
        </ng-container>
      
        <!-- Weight Column -->
        <ng-container matColumnDef="fecha">
          <th mat-header-cell *matHeaderCellDef> fecha </th>
          <td mat-cell *matCellDef="let element"> {{element.fecha}} </td>
        </ng-container>
      
        <!-- Symbol Column -->
       
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr
        mat-row
        (click)="openDialog(row)"
        *matRowDef="let row; columns: displayedColumns;"
    ></tr>
      </table>
    </div>
    <mat-paginator [pageSizeOptions]="[3, 6]" showFirstLastButtons aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>
</div>