nav{
    background-size: cover;
    background-position: center center; 
    background-attachment: fixed;
    
};

.ps{
    margin: 0 auto;
    background: #000;
}

#contain-juts{
    display: flex;
    border-radius: 10px;
    width: 100%;
}

#contenedor{
  display: flex;
  justify-content: center;
   
}