<app-dashboard></app-dashboard>
<div class="personal-tabla">
  <div>
    <h2 class="p-3 mb-2  text-dark  shadow-lg p-3  bg-body rounded header-tabla rounded-3"  >
      Productos
    </h2>
  </div>
  <br>
  <br>
  <br>
  <br>
<div class="container">

<mat-form-field appearance="standard">
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
    </mat-form-field>
    
  <div class="mat-elevation-z8">

    <table mat-table [dataSource]="dataSource">

      <!-- Position Column -->
      <ng-container matColumnDef="referencia">
        <th mat-header-cell *matHeaderCellDef> Referencia </th>
        <td mat-cell *matCellDef="let element"> {{element.referencia}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="laboratorio">
        <th mat-header-cell *matHeaderCellDef> Laboratorio </th>
        <td mat-cell *matCellDef="let element"> {{element.laboratorio}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="marca">
        <th mat-header-cell *matHeaderCellDef> Marca </th>
        <td mat-cell *matCellDef="let element"> {{element.marca}} </td>
      </ng-container>

      <ng-container matColumnDef="stockActual">
        <th mat-header-cell *matHeaderCellDef> Stock Actual </th>
        <td mat-cell *matCellDef="let element"> {{element.stockActual}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[7,15,20]" showFirstLastButtons aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>

</div>
</div>