<div class=" container">
  <h2 class="text-center">Inventario</h2>
  <hr>
  <br>
  <div class="row">
    <div class="col-4" style="min-width: 300px;">
      <h2 class="text-center">Registro de Inventario</h2>
      <hr>
      <div class="form-floating border border-5">
        <input type="text" class="form-control">
        <label for="floatingInputGrid">Nombre del Producto</label>
      </div>
      <div class="form-floating border border-5">
        <input type="text" class="form-control">
        <label for="floatingInputGrid">Unidades Compradas</label>
      </div>
      <div class="form-floating border border-5">
        <input type="text" class="form-control">
        <label for="floatingInputGrid">Precio de Compra</label>
      </div>
      <br>
      <div class="col-12">
        <div class="row justify-content-center">
          <div class="col-5">
            <button type="button" class="btn btn-outline-danger btn-sm position-absolute top-0 end-0">Cancelar</button>
          </div>
          <div class="col col-md">
            <button type="button" class="btn btn-outline-success btn-sm ">Guardar</button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-8">
      <h2 class="text-center">Registro de Inventario</h2>
      <hr>
      <div class="row">
        <table>
          <thead>
            <tr>
              <th class="table-active">...</th>

              <th class="table-primary">...</th>
              <th class="table-secondary">...</th>
              <th class="table-success">...</th>
              <th class="table-danger">...</th>
              <th class="table-warning">...</th>
              <th class="table-info">...</th>
              <th class="table-light">...</th>
              <th class="table-dark">...</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="table-active">...</td>
              <td class="table-primary">...</td>
              <td class="table-secondary">...</td>
              <td class="table-success">...</td>
              <td class="table-danger">...</td>
              <td class="table-warning">...</td>
              <td class="table-info">...</td>
              <td class="table-light">...</td>
              <td class="table-dark">...</td>
            </tr>
            <tr>
              <td class="table-active">...</td>
              <td class="table-primary">...</td>
              <td class="table-secondary">...</td>
              <td class="table-success">...</td>
              <td class="table-danger">...</td>
              <td class="table-warning">...</td>
              <td class="table-info">...</td>
              <td class="table-light">...</td>
              <td class="table-dark">...</td>
            </tr>
          </tbody>

        </table>
      </div>
      <div class="row justify-content-center">
        <br>
        <h2 class="text-center">Descontar</h2>
        <hr style="width: 500px;">
        <div class="col-5">
          <div class="form-floating border border-5">
            <input type="text" class="form-control">
            <label for="floatingInputGrid">Nombre del Producto</label>
          </div>
          <div class="form-floating border border-5">
            <input type="text" class="form-control">
            <label for="floatingInputGrid">Unidades Compradas</label>
          </div>
          <br>
          <div class="col-12">
            <div class="row justify-content-center">
              <div class="col-5">
                <button type="button" class="btn btn-outline-danger btn-sm position-absolute top-0 end-0">Cancelar</button>
              </div>
              <div class="col col-md">
                <button type="button" class="btn btn-outline-success btn-sm ">Guardar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
