<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="text-center">Informe</h1>
    </div>
    <hr>
  </div>
  <div class="row">
    <div class="col-4">
      <div class="row">
        <div class="col-12">
          <h2 class="text-center">Rango del Informe</h2>
          <hr>
        </div>
      </div>
      <div class="row ">
        <div class="col-md">
          <div class="form-floating">
            <input type="date" class="form-control">
            <label for="floatingInputGrid">Fecha de Inicio</label>
          </div>
        </div>
      </div>
      <div class="row ">
        <div class="col-md">
          <div class="form-floating">
            <input type="date" class="form-control">
            <label for="floatingInputGrid">Fecha de Fin</label>
          </div>
        </div>
      </div>
    </div>

    <div class="col-8">
      <div class="row">
        <div class="col-12">
          <h2 class="text-center">Formato</h2>
          <hr>
        </div>
      </div>
    </div>

    <div class="col-12">  
      <div class="row">
        <div class="col-12">
          <div class="row justify-content-center">
            <div class="col-5">
              <button type="button"
                class="btn btn-outline-info btn-sm position-absolute top-0 end-0">Visualizar</button>
            </div>

            <div class="col-2">
              <button type="button"
                class="btn btn-outline-success btn-sm position-absolute top-0 start-50 translate-middle-x">Imprimir</button>
            </div>

            <div class="col-5">
              <button type="button"
                class="btn btn-outline-danger btn-sm position-absolute top-0 start-0">Borrar</button>
            </div>
          </div>
        </div>
        <hr>
      </div>
    </div>
  </div>
</div>