<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="text-center">Informe</h1>
    </div>
    <hr>
  </div>

  <div class="row">
    <div class="col-4">
      <div class="row">
        <div class="col-12">
          <h2 class="text-center">Rango del Informe</h2>
        </div>
        <hr>
      </div>
      <div class="row ">
        <div class="col-md">
          <div class="form-floating">
            <input type="date" class="form-control">
            <label for="floatingInputGrid">Fecha de Inicio</label>
          </div>
        </div>
      </div>
      <div class="row ">
        <div class="col-md">
          <div class="form-floating">
            <input type="date" class="form-control">
            <label for="floatingInputGrid">Fecha de Fin</label>
          </div>
        </div>
      </div>
      <br>
      <div class="row justify-content-center">
        <div class="col-4">
          <button type="button" class="btn btn-outline-info btn-sm">Visualizar</button>
        </div>

        <div class="col-4">
          <button type="button" class="btn btn-outline-success btn-sm">Imprimir</button>
        </div>

        <div class="col-4">
          <button type="button" class="btn btn-outline-danger btn-sm">Borrar</button>
        </div>
      </div>
    </div>
    
    <div class="col-8">
      <div class="row">
        <div class="col-12">
          <h2 class="text-center">Formato</h2>
        </div>
        <hr>
      </div>

    </div>

  </div>
</div>