<div class="container">
    <h2 class="text-center">Informe</h2>
    <hr>
    <br>
    <div class="row">
        <div class="col col-4">
            <div class="row ">
                <div class="col-md">
                  <div class="form-floating">
                    <input type="date" class="form-control">
                    <label for="floatingInputGrid">Fecha de Inicio</label>
                  </div>
                </div>
            </div>    
            <div class="row ">
                <div class="col-md">
                  <div class="form-floating">
                    <input type="date" class="form-control">
                    <label for="floatingInputGrid">Fecha de Fin</label>
                  </div>
                </div>
            </div>    
            <div class = "row justify-content-center">
                <div class = "row">
                    <div class="col col-auto">
                        <button type="button" class="btn btn-outline-info btn-sm">Visualizar</button>
                      </div>
                </div>
                <div class="row">
                    <div class="col col-auto">
                        <button type="button" class="btn btn-outline-success btn-sm">Imprimir</button>
                      </div>
                </div>
                
                <div class = "row">
                    <div class="col col-auto">
                        <button type="button" class="btn btn-outline-danger btn-sm">Borrar</button>
                      </div>
                </div>
            </div>
        </div>
        <div class="col">

        </div>
        
    </div>
</div>